[submodule "Dependencies/OpenSSL"]
	path = Dependencies/OpenSSL
	url = https://github.com/rileytestut/OpenSSL
[submodule "Dependencies/ldid"]
	path = Dependencies/ldid
	url = https://github.com/rileytestut/ldid.git
